@import "./../../style/index.scss";

.certificatesContainer {
  @include pageCommonCss;
  .certificates {
    @include display-flex(row, flex-start, center);
    flex-wrap: wrap;
    column-gap: 10rem;
    margin-top: $commonPaddingForSides;
    .certificate {
      object-fit: contain;
      max-width: $windowWidth * 0.8;
    }
    .pTag {
      color: $fontColor;
    }
  }
}
