@import "./../../../style/index.scss";

.container {
  background-color: $backGroundColor;
  box-sizing: border-box;
  width: $windowWidth;
  @include display-flex(row, space-between, center);
  padding: $xxxxl $commonPaddingForSides;
  .text {
    font-size: 1.8em;
  }
  .input {
    border: none;
    outline: none;
    font-size: 1em;
    @include viewportWidth(40);
    padding: $lg;
  }
}
