@import "./../../../style/index.scss";

.ourProducts {
  width: $windowWidth;
  padding: $commonPaddingForSides $commonPaddingForSides $lg
    $commonPaddingForSides;
  box-sizing: border-box;
  .products {
    @include display-flex(row, space-evenly, center);
    flex-wrap: wrap;
    margin: 3em 0;
  }
}
