@import "./../../../style/index.scss";

.ourProducts {
  @include pageCommonCss;
  padding-bottom: $lg !important;
  .products {
    @include display-flex(row, space-evenly, center);
    flex-wrap: wrap;
    margin: 3em 0;
  }
}
