@import "./../../../style/index.scss";

.ourPartners {
  width: $windowWidth;
  padding: $commonPaddingForSides;
  box-sizing: border-box;
  @include display-flex(row, $align: center);
  width: $windowWidth;
  @media only screen and (max-width: 768px) {
    @include display-flex(column, $align: flex-start);
    padding: 0 $commonPaddingForSides $lg $commonPaddingForSides;
  }
  .heading {
    width: $windowWidth * 0.5;
    box-sizing: border-box;
    @media only screen and (max-width: 768px) {
      width: $windowWidth * 0.8;
    }
  }
  .partners {
    width: $windowWidth * 0.7;
    .row {
      @include display-flex(row, space-evenly, center);
      flex-wrap: wrap;
      .partnerImg {
        transition: all ease 0.3s;
        &:hover {
          transform: scale(1.2);
          transition: all ease 0.3s;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      width: $windowWidth * 0.8;
      box-sizing: border-box;
      .row {
        @include display-flex(row, space-evenly, center);
        .partnerImg {
          height: 10em;
          width: 8em;
        }
      }
    }
    @media only screen and (max-width: 660px) {
      .row {
        .partnerImg {
          height: 8em;
          width: 6em;
        }
      }
    }
    @media only screen and (max-width: 540px) {
      .row {
        .partnerImg {
          height: 7em;
          width: 5em;
        }
      }
    }
    @media only screen and (max-width: 414px) {
      .row {
        .partnerImg {
          height: 6em;
          width: 4em;
        }
      }
    }
  }
}
