@import "./../../style/index.scss";

.aboutPageContainer {
  width: $windowWidth;
  box-sizing: border-box;
  padding-top: $commonPaddingForSides;
  .heading {
    @include display-flex(row, space-between, center);
    padding: $commonPaddingForSides;
    padding-top: 0;
    padding-bottom: 5rem;
    @media (max-width: 540px) {
      padding-bottom: 3rem;
    }
    .logo {
      max-height: 6rem;
      @media (max-width: 540px) {
        max-height: 4rem;
      }
    }
  }
  .aboutText {
    padding: 0 $commonPaddingForSides;
    color: $greyText;
    font-size: 1.3rem;
    line-height: 200%;
    margin: 0.5em 0;
    @media (max-width: 540px) {
      font-size: 1.2rem;
    }
  }
}
