@import "./../../../style/index.scss";

.parent {
  position: relative;
  box-sizing: border-box;
  width: $windowWidth;
  .achievements {
    width: $windowWidth;
    @include display-flex(row);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    .display {
      max-width: $windowWidth;
      box-sizing: border-box;
      .slider {
        @include display-flex(row, space-between, center);
        width: $windowWidth;
        scroll-snap-align: start;
        padding-left: $commonPaddingForSides;
        @media (max-width: 414px) {
          position: relative;
          overflow-y: hidden;
          padding-top: 1em;
        }
        .displayHeading {
          color: $greyText;
          box-sizing: border-box;
          @media (max-width: 414px) {
            @include viewportWidth(100);
            color: $fontColor;
          }
          .rank {
            font-size: 4.5rem;
            line-height: 0;
            font-weight: 600;
          }
          .company {
            font-size: 1.5rem;
            line-height: 1em;
            font-weight: 600;
          }
          .info {
            font-size: 1.2em;
            line-height: 1em;
            font-weight: 500;
            color: #aea9ba;
          }
          .extraText {
            font-size: 1.1em;
            line-height: 5em;
            font-weight: 400;
          }
          @media (max-width: 414px) {
            .rank {
              font-size: 3rem;
              line-height: 0.2em;
              font-weight: 600;
            }
            .company {
              font-size: 2.2rem;
              line-height: 1em;
              font-weight: 600;
            }
            .info {
              font-size: 1em;
              line-height: 1.1em;
              font-weight: 600;
              color: #aea9ba;
            }
            .extraText {
              font-size: 0.9em;
              line-height: 1.1em;
              font-weight: 400;
            }
          }
        }
        .displayImg {
          @include viewportWidth(38);
          object-fit: scale-down;
          box-sizing: border-box;
          @media (max-width: 414px) {
            position: absolute;
            @include viewportWidth(100);
            right: 0;
            z-index: -1;
          }
        }
      }
    }
  }

  .btnNext,
  .btnPrev {
    @media (max-width: 414px) {
      display: none;
    }
    @include display-flex(row, center, center);
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    background: none;
    z-index: 2;
    top: 40%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.8);
    }
  }
  .btnNext {
    right: 1rem;
    color: rgba(255, 255, 255, 0.5);
    &:hover,
    &:focus {
      color: $white;
    }
  }
  .btnPrev {
    left: 1rem;
  }
}
