@import "./../../../style/index.scss";

.parent {
  position: relative;
  box-sizing: border-box;
  width: $windowWidth;
  .achievements {
    width: $windowWidth;
    @include display-flex(row);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .btnNext,
  .btnPrev {
    @include display-flex(row, center, center);
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    background: none;
    z-index: 10;
    top: 40%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.8);
    }
  }
  .btnNext {
    right: 1rem;
    color: rgba(255, 255, 255, 0.5);
    &:hover,
    &:focus {
      color: $white;
    }
  }
  .btnPrev {
    left: 1rem;
  }
  @include respond-to(mobile) {
    .btnNext,
    .btnPrev {
      color: rgba(0, 0, 0, 0.3);
      &:hover,
      &:focus {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .carouselDots {
    position: absolute;
    @include display-flex(row, space-between, center);
    @include viewportWidth(4);
    left: 48%;
    bottom: 5%;
    .dot,
    .highlightedDot {
      cursor: pointer;
      background-color: $fontColor;
      border-radius: 50%;
      height: 0.8rem;
      width: 0.8rem;
      z-index: 2;
      opacity: 0.4;
      transition: all ease-in-out 0.2s;
    }
    .highlightedDot {
      opacity: 1;
      transform: scale(1.2);
    }
    @include respond-to(desktop-lg) {
      @include viewportWidth(5);
      left: 47.5%;
    }
    @include respond-to(desktop) {
      @include viewportWidth(6);
      left: 47%;
    }
    @include respond-to(tablet) {
      @include viewportWidth(8);
      left: 46%;
      .dot,
      .highlightedDot {
        height: 0.7rem;
        width: 0.7rem;
      }
    }
    @include respond-to(mobile) {
      @include viewportWidth(14);
      left: 43%;
      .dot,
      .highlightedDot {
        height: 0.6rem;
        width: 0.6rem;
      }
    }
  }
}
