@import "./../../../style/index.scss";

.detailsContainer {
  @include display-flex(row, space-between, flex-start);
  @media only screen and (max-width: 420px) {
    @include display-flex(column, flex-start, center);
  }
  .leftContainer {
    box-sizing: border-box;
    .productImg {
      object-fit: scale-down;
      @include viewportHeight(50);
      @media only screen and (max-width: 420px) {
        @include viewportHeight(35);
      }
    }
  }
  .rightContainer {
    box-sizing: border-box;
    width: 60%;
    @media only screen and (max-width: 420px) {
      width: 100%;
    }
    .productName {
      color: $secondaryColor;
    }
    .specificationCont {
      margin-bottom: 3em;
      .specification {
        font-size: 1.1em;
        line-height: 0.1em;
        color: $greyText;
      }
      .spec {
        color: $fontColor;
        line-height: 0;
      }
    }
    .details {
      color: $greyText;
      font-size: 1.1em;
    }
    .categoryName {
      color: $fontColor;
      text-decoration: underline;
      font-size: 1.1em;
      line-height: 0;
    }
    .companyImage {
      transform: scale(0.9);
      object-fit: contain;
      max-width: 7rem;
      margin-bottom: 1em;
    }
    .description {
      font-size: 1.1em;
      margin-top: -0.1em;
    }
    .descriptionData {
      color: $greyText;
      line-height: 1.7em;
      font-size: 1.02em;
    }
  }
}
