@import "./../../../style/index.scss";

.searchResultsContainer {
  margin-top: 4rem;
  .resultItem {
    @include display-flex(row, flex-start, center);
    margin: 2rem 0;
    cursor: pointer;
    width: 25rem;
    padding: 1rem 0;
    transition: all ease-in-out 0.2s;
    .itemImage {
      margin: 0;
      margin-right: 2rem;
      width: 30%;
      aspect-ratio: 3/2;
      object-fit: contain;
      mix-blend-mode: color-burn;
    }
    .itemText {
      color: $greyText;
      font-weight: 500;
      font-size: 1.2rem;
    }
    &:hover {
      box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.13);
    }
  }
}
