@import "./../../../style/index.scss";

.displayContainer {
  box-sizing: border-box;
  margin-top: 1rem;
  flex-wrap: wrap;
  .displayRow {
    @include display-flex(row, space-between, center);
    flex-wrap: wrap;
  }
}
