@import "./../../../../style/index.scss";

.Typography {
  color: $greyText;
  font-size: 1.2em;
}
.text {
  color: $greyText;
}
.table {
  border: 1px solid $fontColor;
  .trow {
    .th,
    .td {
      padding: 1em;
      color: $greyText;
      font-weight: bold;
      border: 1px solid $fontColor;
    }
    .td {
      font-weight: normal;
    }
  }
}
